* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #f5f5f5;
    color: #333;
}

.sidebar {
    width: 260px;
    background: #1f1f1f;
    color: white;
    height: 100vh;
    padding: 20px;
    position: fixed;
}

.sidebar img {
    width: 80px;
    margin-bottom: 10px;
}

.sidebar h1 {
    font-size: 22px;
    margin-bottom: 5px;
}

.sidebar .slogan {
    font-size: 13px;
    opacity: .7;
}

.menu {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.menu a:hover {
    color: #1E90FF;
}

.social {
    position: absolute;
    bottom: 20px;
    display: flex;
    gap: 15px;
}

.social a {
    color: white;
    font-size: 20px;
}

.social a:hover {
    color: #FFA726;
}

main {
    margin-left: 260px;
    padding: 30px;
}

.secao-header h2 {
    font-size: 26px;
    border-left: 5px solid #1E90FF;
    padding-left: 10px;
    margin-bottom: 20px;
}

.banner img {
    /* height: auto; */
    width: 20%;
    border-radius: 10px;
    margin-bottom: 20px;
}

.info-cards {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.card {
    flex: 1;
    background: white;
    padding: 20px;
    border-left: 5px solid #FFA726;
    border-radius: 8px;
}

.parceiros-grid {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.parceiro {
    width: 30%;
    background: white;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
}

.parceiro img {
    width: calc(100% - 50%);
    display: block;
    margin: auto;
}

.faq-lista details {
    background: white;
    padding: 15px;
    border-left: 5px solid #1E90FF;
    border-radius: 8px;
    margin-bottom: 15px;
    cursor: pointer;
}

.faq-lista summary {
    font-size: 17px;
    font-weight: 600;
}

footer {
    margin-top: 40px;
    text-align: center;
    padding: 20px;
    background: #1f1f1f;
    color: white;
    border-radius: 10px;
}

footer a {
    color: #FFA726;
}

